[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
bootstrap-flask = "*"
neo4j-driver = "*"
dash-daq = "*"
dash = "*"
dash-cytoscape = "*"
plotly = "*"
pandas = "*"

[requires]
python_version = "3.7"
